apiVersion: v1
kind: ConfigMap
metadata:
  name: configarr-config
  namespace: media
data:
  config.yml: |
    trashGuideUrl: https://github.com/TRaSH-Guides/Guides
    recyclarrConfigUrl: https://github.com/recyclarr/config-templates

    sonarr:
      main:
        base_url: http://sonarr.media.svc.cluster.local:8989
        api_key: !env SONARR_API_KEY

        quality_definition:
          type: series

        include:
          # WEB-1080p profile
          - template: sonarr-quality-definition-series
          - template: sonarr-v4-quality-profile-web-1080p
          - template: sonarr-v4-custom-formats-web-1080p
          # WEB-2160p (4K) profile
          - template: sonarr-v4-quality-profile-web-2160p
          - template: sonarr-v4-custom-formats-web-2160p

        # GPU Hardware Transcoding Compatibility (Quadro P4000)
        # Penalize AV1 - P4000 cannot decode AV1 in hardware
        custom_formats:
          - trash_ids:
              - 15a05bc7c1a36e2b57fd628f8977e2fc  # AV1
            assign_scores_to:
              - name: WEB-1080p
                score: -10000
              - name: WEB-2160p
                score: -10000

    radarr:
      main:
        base_url: http://radarr.media.svc.cluster.local:7878
        api_key: !env RADARR_API_KEY

        quality_definition:
          type: movie

        include:
          # HD Bluray + WEB (1080p) profile
          - template: radarr-quality-definition-movie
          - template: radarr-quality-profile-hd-bluray-web
          - template: radarr-custom-formats-hd-bluray-web
          # UHD Bluray + WEB (4K) profile
          - template: radarr-quality-profile-uhd-bluray-web
          - template: radarr-custom-formats-uhd-bluray-web

        # GPU Hardware Transcoding Compatibility (Quadro P4000)
        # Penalize AV1 - P4000 cannot decode AV1 in hardware
        custom_formats:
          - trash_ids:
              - cae4ca30163749b891686f95532519bd  # AV1
            assign_scores_to:
              - name: HD Bluray + WEB
                score: -10000
              - name: UHD Bluray + WEB
                score: -10000
