apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-bridges
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/charlieshreck/homelab-prod.git
    targetRevision: main
    path: kubernetes/applications/external-bridges
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
