apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: investmentology
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "10"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/charlieshreck/investmentology.git
    targetRevision: main
    path: k8s/base
  destination:
    server: https://10.20.0.40:6443
    namespace: investmentology
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
