apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: media-namespace
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/charlieshreck/prod_homelab.git
    targetRevision: main
    path: kubernetes/applications/media
    directory:
      include: 'namespace.yaml'
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
