apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: radarr
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/charlieshreck/prod_homelab.git
    targetRevision: main
    path: kubernetes/applications/media/radarr
  destination:
    server: https://kubernetes.default.svc
    namespace: media
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - RespectIgnoreDifferences=true
  ignoreDifferences:
  - group: ""
    kind: PersistentVolumeClaim
    name: radarr-config
    jsonPointers:
    - /spec/resources/requests/storage
