version: "3.8"

services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    runtime: nvidia
    environment:
      - PUID={{ plex_uid }}
      - PGID={{ plex_gid }}
      - TZ={{ plex_timezone }}
      - VERSION=docker
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,video,utility
      - PLEX_CLAIM={{ plex_claim_token }}
    volumes:
      - {{ plex_config_dir }}:/config
      - /dev/shm:/transcode
      - {{ plex_mount_point }}:/data:ro
    devices:
      - /dev/nvidia0:/dev/nvidia0
      - /dev/nvidiactl:/dev/nvidiactl
      - /dev/nvidia-uvm:/dev/nvidia-uvm
    network_mode: host
    restart: unless-stopped
