apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium-agentic
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    chart: cilium
    repoURL: https://helm.cilium.io/
    targetRevision: 1.16.5
    helm:
      values: |
        ipam:
          mode: kubernetes
        kubeProxyReplacement: true
        k8sServiceHost: localhost
        k8sServicePort: 7445
        hubble:
          enabled: true
          relay:
            enabled: true
          ui:
            enabled: true
        securityContext:
          privileged: true
  destination:
    server: https://10.20.0.40:6443
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
