---
# Source: gha-runner-scale-set/templates/no_permission_serviceaccount.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: arc-runner-set-gha-rs-no-permission
  namespace: arc-runners
  labels:
    helm.sh/chart: gha-rs-0.13.1
    app.kubernetes.io/name: arc-runner-set
    app.kubernetes.io/instance: arc-runner-set
    app.kubernetes.io/version: "0.13.1"
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/part-of: gha-rs
    actions.github.com/scale-set-name: arc-runner-set
    actions.github.com/scale-set-namespace: arc-runners
  annotations:
  finalizers:
    - actions.github.com/cleanup-protection
---
# Source: gha-runner-scale-set/templates/manager_role.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: arc-runner-set-gha-rs-manager
  namespace: arc-runners
  labels:
    helm.sh/chart: gha-rs-0.13.1
    app.kubernetes.io/name: arc-runner-set
    app.kubernetes.io/instance: arc-runner-set
    app.kubernetes.io/version: "0.13.1"
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/part-of: gha-rs
    actions.github.com/scale-set-name: arc-runner-set
    actions.github.com/scale-set-namespace: arc-runners
    app.kubernetes.io/component: manager-role
  annotations:
  finalizers:
    - actions.github.com/cleanup-protection
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
- apiGroups:
  - ""
  resources:
  - pods/status
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  verbs:
  - create
  - delete
  - get
  - patch
  - update
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  verbs:
  - create
  - delete
  - get
  - patch
  - update
---
# Source: gha-runner-scale-set/templates/manager_role_binding.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: arc-runner-set-gha-rs-manager
  namespace: arc-runners
  labels:
    helm.sh/chart: gha-rs-0.13.1
    app.kubernetes.io/name: arc-runner-set
    app.kubernetes.io/instance: arc-runner-set
    app.kubernetes.io/version: "0.13.1"
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/part-of: gha-rs
    actions.github.com/scale-set-name: arc-runner-set
    actions.github.com/scale-set-namespace: arc-runners
    app.kubernetes.io/component: manager-role-binding
  annotations:
  finalizers:
    - actions.github.com/cleanup-protection
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: arc-runner-set-gha-rs-manager
subjects:
- kind: ServiceAccount
  name: 
    arc-controller-gha-rs-controller
  namespace: 
    arc-systems
---
# Source: gha-runner-scale-set/templates/autoscalingrunnerset.yaml
apiVersion: actions.github.com/v1alpha1
kind: AutoscalingRunnerSet
metadata:
  name: arc-runner-set
  namespace: arc-runners
  labels:
    app.kubernetes.io/component: "autoscaling-runner-set"
    helm.sh/chart: gha-rs-0.13.1
    app.kubernetes.io/name: arc-runner-set
    app.kubernetes.io/instance: arc-runner-set
    app.kubernetes.io/version: "0.13.1"
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/part-of: gha-rs
    actions.github.com/scale-set-name: arc-runner-set
    actions.github.com/scale-set-namespace: arc-runners
  annotations:
    actions.github.com/values-hash: 18a983505db155f3d274a927665bd0ed5a70b6c5a8ae8f8e980c01f7ebbabb1
    actions.github.com/cleanup-manager-role-binding: arc-runner-set-gha-rs-manager
    actions.github.com/cleanup-manager-role-name: arc-runner-set-gha-rs-manager
    actions.github.com/cleanup-no-permission-service-account-name: arc-runner-set-gha-rs-no-permission

spec:
  githubConfigUrl: https://github.com/charlieshreck
  githubConfigSecret: arc-github-token
  maxRunners: 3
  minRunners: 0

  template:
    spec:
      restartPolicy: Never
      serviceAccountName: arc-runner-set-gha-rs-no-permission
      initContainers:
      - name: init-dind-externals
        
        image: ghcr.io/actions/actions-runner:latest
        command: ["cp"]
        args: ["-r", "/home/runner/externals/.", "/home/runner/tmpDir/"]
        volumeMounts:
          - name: dind-externals
            mountPath: /home/runner/tmpDir
      - name: dind
        image: docker:dind
        args:
          - dockerd
          - --host=unix:///var/run/docker.sock
          - --group=$(DOCKER_GROUP_GID)
        env:
          - name: DOCKER_GROUP_GID
            value: "123"
        securityContext:
          privileged: true
        restartPolicy: Always
        startupProbe:
          exec:
            command:
              - docker
              - info
          initialDelaySeconds: 0
          failureThreshold: 24
          periodSeconds: 5
        volumeMounts:
          - name: work
            mountPath: /home/runner/_work
          - name: dind-sock
            mountPath: /var/run
          - name: dind-externals
            mountPath: /home/runner/externals
      containers:
      - name: runner
        
        image: 
          ghcr.io/actions/actions-runner:latest
        resources: 
          limits:
            cpu: 2
            memory: 2Gi
          requests:
            cpu: 500m
            memory: 512Mi
        env:
          - name: DOCKER_HOST
            value: unix:///var/run/docker.sock
          - name: RUNNER_WAIT_FOR_DOCKER_IN_SECONDS
            value: "120"
        volumeMounts:
          - name: work
            mountPath: /home/runner/_work
          - name: dind-sock
            mountPath: /var/run
      
      volumes:
      - name: dind-sock
        emptyDir: {}
      - name: dind-externals
        emptyDir: {}
      
      - name: work
        emptyDir: {}
