---
apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: pulse-agent-credentials
  namespace: pulse-agent
spec:
  hostAPI: https://app.infisical.com/api
  authentication:
    universalAuth:
      credentialsRef:
        secretName: universal-auth-credentials
        secretNamespace: infisical-operator-system
      secretsScope:
        projectSlug: prod-homelab-y-nij
        envSlug: prod
        secretsPath: /observability/pulse
  managedSecretReference:
    secretName: pulse-agent-credentials
    secretNamespace: pulse-agent
    secretType: Opaque
    creationPolicy: Owner
