apiVersion: apps/v1
kind: Deployment
metadata:
  name: maintainerr
  namespace: media
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: maintainerr
  template:
    metadata:
      labels:
        app: maintainerr
    spec:
      containers:
      - name: maintainerr
        image: ghcr.io/jorenn92/maintainerr:latest
        ports:
        - name: web
          containerPort: 6246
        env:
        - name: TZ
          value: "Europe/London"
        volumeMounts:
        - name: data
          mountPath: /opt/data
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: maintainerr-data
---
apiVersion: v1
kind: Service
metadata:
  name: maintainerr
  namespace: media
spec:
  type: ClusterIP
  ports:
  - name: web
    port: 6246
    targetPort: 6246
  selector:
    app: maintainerr
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: maintainerr-data
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: mayastor-3-replica
  resources:
    requests:
      storage: 2Gi
