apiVersion: v1
kind: ConfigMap
metadata:
  name: homeassistant-configuration
  namespace: apps
data:
  configuration.yaml: |
    # Loads default set of integrations. Do not remove.
    default_config:

    # Home Assistant configuration
    homeassistant:
      external_url: https://homeassistant.kernow.io
      internal_url: http://homeassistant.apps.svc.cluster.local:8123

    # HTTP Configuration
    http:
      use_x_forwarded_for: true
      trusted_proxies:
        - 10.244.0.0/16

    # Text to speech
    tts:
      - platform: google_translate

    automation: []
    script: {}
    scene: []
