apiVersion: apps/v1
kind: Deployment
metadata:
  name: tasmoadmin
  namespace: apps
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: tasmoadmin
  template:
    metadata:
      labels:
        app: tasmoadmin
    spec:
      containers:
      - name: tasmoadmin
        image: ghcr.io/tasmoadmin/tasmoadmin:v4.3.4
        ports:
        - name: http
          containerPort: 80
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 30
          periodSeconds: 30
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
          failureThreshold: 3
        volumeMounts:
        - name: data
          mountPath: /data
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            cpu: 200m
            memory: 256Mi
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: tasmoadmin-data
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tasmoadmin-data
  namespace: apps
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: mayastor-3-replica
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: tasmoadmin
  namespace: apps
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    targetPort: 80
  selector:
    app: tasmoadmin
