apiVersion: apps/v1
kind: Deployment
metadata:
  name: radarr
  namespace: media
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: radarr
  template:
    metadata:
      labels:
        app: radarr
      annotations:
        backup.velero.io/backup-volumes-excludes: downloads,media
    spec:
      containers:
      - name: radarr
        image: linuxserver/radarr:6.0.4
        ports:
        - name: http
          containerPort: 7878
        env:
        - name: PUID
          value: "3000"
        - name: PGID
          value: "3000"
        - name: TZ
          value: "Europe/London"
        livenessProbe:
          httpGet:
            path: /ping
            port: 7878
          initialDelaySeconds: 30
          periodSeconds: 30
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /ping
            port: 7878
          initialDelaySeconds: 5
          periodSeconds: 10
          failureThreshold: 3
        volumeMounts:
        - name: config
          mountPath: /config
        - name: downloads
          mountPath: /downloads
        - name: media
          mountPath: /film
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 1000m
            memory: 1Gi
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: radarr-config
      - name: downloads
        nfs:
          server: 10.40.0.10
          path: /mnt/Taranaki/Tarriance/hopuhopu_katoa
      - name: media
        nfs:
          server: 10.40.0.10
          path: /mnt/Tongariro/Plexopathy/Film
---
apiVersion: v1
kind: Service
metadata:
  name: radarr
  namespace: media
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 7878
    targetPort: 7878
  selector:
    app: radarr
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: radarr-config
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: mayastor-3-replica
  resources:
    requests:
      storage: 10Gi