apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mayastor
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  project: default
  source:
    repoURL: https://github.com/charlieshreck/prod_homelab.git
    targetRevision: main
    path: kubernetes/platform/mayastor
  destination:
    server: https://kubernetes.default.svc
    namespace: mayastor
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
  ignoreDifferences:
    - group: apiextensions.k8s.io
      kind: CustomResourceDefinition
      jsonPointers:
        - /spec/conversion/webhook/clientConfig/caBundle
