apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: default
  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: v25.0.0
    helm:
      valuesObject:
        installCRDs: false
        providers:
          kubernetesIngress:
            enabled: true
          kubernetesCRD:
            enabled: true
        ingressRoute:
          dashboard:
            enabled: false
        additionalArguments:
          - "--api.insecure=true"
        service:
          enabled: true
          type: LoadBalancer
          spec:
            loadBalancerIP: 10.10.0.90
        ports:
          web:
            port: 80
            exposedPort: 80
          websecure:
            port: 443
            exposedPort: 443
          metrics:
            port: 8080
            exposedPort: 8080
        deployment:
          replicas: 2
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
