apiVersion: apps/v1
kind: Deployment
metadata:
  name: overseerr
  namespace: media
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: overseerr
  template:
    metadata:
      labels:
        app: overseerr
    spec:
      containers:
      - name: overseerr
        image: ghcr.io/fallenbagel/jellyseerr:2.3.0
        ports:
        - name: http
          containerPort: 5055
        env:
        - name: LOG_LEVEL
          value: "info"
        - name: TZ
          value: "Europe/London"
        - name: PORT
          value: "5055"
        - name: DISABLE_TELEMETRY
          value: "true"
        startupProbe:
          httpGet:
            path: /api/v1/status
            port: 5055
          initialDelaySeconds: 10
          periodSeconds: 5
          failureThreshold: 30
        livenessProbe:
          httpGet:
            path: /api/v1/status
            port: 5055
          initialDelaySeconds: 60
          periodSeconds: 30
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /api/v1/status
            port: 5055
          initialDelaySeconds: 10
          periodSeconds: 10
          failureThreshold: 3
        volumeMounts:
        - name: config
          mountPath: /app/config
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 1000m
            memory: 1Gi
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: overseerr-config
---
apiVersion: v1
kind: Service
metadata:
  name: overseerr
  namespace: media
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 5055
    targetPort: 5055
  selector:
    app: overseerr
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: overseerr-config
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: mayastor-3-replica
  resources:
    requests:
      storage: 2Gi
