apiVersion: apps/v1
kind: Deployment
metadata:
  name: reiverr
  namespace: media
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: reiverr
  template:
    metadata:
      labels:
        app: reiverr
    spec:
      containers:
      - name: reiverr
        image: ghcr.io/aleksilassila/reiverr:v2.2.0
        ports:
        - name: http
          containerPort: 9494
        env:
        - name: PUID
          value: "3000"
        - name: PGID
          value: "3000"
        - name: TZ
          value: "Europe/London"
        volumeMounts:
        - name: config
          mountPath: /config
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 1000m
            memory: 1Gi
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: reiverr-config
---
apiVersion: v1
kind: Service
metadata:
  name: reiverr
  namespace: media
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 9494
    targetPort: 9494
  selector:
    app: reiverr
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: reiverr-config
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: mayastor-3-replica
  resources:
    requests:
      storage: 1Gi
