replicaCount: 2

config:
  ingress:
    # Catch-all for *.kernow.io
    - hostname: "*.kernow.io"
      service: https://traefik.traefik.svc.cluster.local:443
      originRequest:
        originServerName: kernow.io
        noTLSVerify: false
        http2Origin: true

    # Apex domain
    - hostname: kernow.io
      service: https://traefik.traefik.svc.cluster.local:443
      originRequest:
        originServerName: kernow.io
        noTLSVerify: false

    - service: http_status:404
