apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-of-apps
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/charlieshreck/prod_homelab.git
    targetRevision: main
    path: kubernetes/argocd-apps
    directory:
      recurse: true
      include: '*.yaml'
      jsonnet: {}
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  ignoreDifferences:
    - group: argoproj.io
      kind: Application
      jsonPointers:
        - /metadata/annotations
        - /metadata/finalizers
        - /metadata/labels
        - /metadata/managedFields
        - /status
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - RespectIgnoreDifferences=true
