apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage
  namespace: apps
  labels:
    app.kubernetes.io/name: homepage
data:
  kubernetes.yaml: |
    mode: cluster

  settings.yaml: |
    title: Prod Homelab Dashboard
    background:
      image: https://images.unsplash.com/photo-1502790671504-542ad42d5189?auto=format&fit=crop&w=2560&q=80
      blur: sm
      saturate: 50
      brightness: 50
      opacity: 50
    cardBlur: md
    theme: dark
    color: slate
    headerStyle: boxed
    layout:
      Infrastructure:
        style: row
        columns: 3
      Kubernetes:
        style: row
        columns: 4
      Media:
        style: row
        columns: 3

  bookmarks.yaml: |
    - Developer:
        - Github:
            - abbr: GH
              icon: github.png
              href: https://github.com/charlieshreck/prod_homelab
        - ArgoCD:
            - abbr: CD
              icon: si-argo
              href: https://argocd.kernow.io/

    - Management:
        - Traefik:
            - abbr: TF
              icon: traefik.png
              href: https://traefik.kernow.io/dashboard/
        - Cloudflare:
            - abbr: CF
              icon: cloudflare.png
              href: https://dash.cloudflare.com/
        - Infisical:
            - abbr: IS
              icon: infisical.png
              href: https://app.infisical.com/

  services.yaml: |
    # Services are now automatically discovered via ingress annotations
    # See gethomepage.dev/enabled annotations on ingress resources

    - Infrastructure:
        - Proxmox (Ruapehu):
            icon: proxmox.png
            href: https://proxmox.kernow.io
            description: Hypervisor Host
            widget:
              type: proxmox
              url: https://10.10.0.10:8006
              username: root@pam!homepage
              password: {{HOMEPAGE_VAR_API_TOKEN}}
              node: Ruapehu

        - OPNsense:
            icon: opnsense.png
            href: https://opnsense.kernow.io
            description: Firewall & Router
            widget:
              type: opnsense
              url: https://10.10.0.1:8443
              username: {{HOMEPAGE_VAR_OPNSENSE_API_KEY}}
              password: {{HOMEPAGE_VAR_OPNSENSE_API_SECRET}}
              fields: ["cpu", "memory", "wanUpload", "wanDownload"]

        - AdGuard Home:
            icon: mdi-shield-check
            href: https://adguard.kernow.io
            description: DNS & Ad Blocker
            widget:
              type: adguard
              url: http://10.10.0.1:3000
              username: {{HOMEPAGE_VAR_ADGUARD_USERNAME}}
              password: {{HOMEPAGE_VAR_ADGUARD_PASSWORD}}
              fields: ["queries", "blocked", "filtered", "latency"]

    - Kubernetes:
        - Talos Control Plane:
            icon: talos.png
            description: Control Plane Node
            proxmoxNode: Ruapehu
            proxmoxVMID: 400

        - Talos Worker 01:
            icon: talos.png
            description: Worker Node 1
            proxmoxNode: Ruapehu
            proxmoxVMID: 401

        - Talos Worker 02:
            icon: talos.png
            description: Worker Node 2
            proxmoxNode: Ruapehu
            proxmoxVMID: 402

        - Talos Worker 03:
            icon: talos.png
            description: Worker Node 3
            proxmoxNode: Ruapehu
            proxmoxVMID: 403

    - Storage:
        - TrueNAS Media:
            icon: truenas.png
            href: https://truenas.kernow.io
            description: NVMe Media Storage
            widget:
              type: truenas
              url: https://truenas.kernow.io
              key: {{HOMEPAGE_VAR_TRUENAS_MEDIA_API_KEY}}

        - Ranginui (ZFS):
            icon: mdi-database
            description: VM Storage - 1.8TB NVMe
            href: https://truenas.kernow.io

        - Taranaki (ZFS):
            icon: mdi-database
            description: Mayastor Storage - 3.6TB NVMe
            href: https://truenas.kernow.io

        - Plexopathy (NFS):
            icon: si-plex
            description: Media Library Share
            href: https://truenas.kernow.io

        - Tarriance (NFS):
            icon: mdi-folder-network
            description: Downloads Share
            href: https://truenas.kernow.io

        - TrueNAS HDD:
            icon: truenas.png
            href: https://truenas.hdd.kernow.io
            description: HDD Storage
            widget:
              type: truenas
              url: https://truenas.hdd.kernow.io
              key: {{HOMEPAGE_VAR_TRUENAS_HDD_API_KEY}}

  widgets.yaml: |
    - logo:
        icon: https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/png/kubernetes.png

    - search:
        provider: google
        target: _blank

    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: true
          label: "cluster"
        nodes:
          show: true
          cpu: true
          memory: true
          showLabel: true

    - resources:
        label: "Homepage Node"
        cpu: true
        memory: true
        disk: /
        expanded: true

    - resources:
        label: "Plexopathy (Media)"
        disk: /mnt/plexopathy
        expanded: true

    - resources:
        label: "Tarriance (Downloads)"
        disk: /mnt/tarriance
        expanded: true

  proxmox.yaml: |
    Ruapehu:
      url: https://10.10.0.10:8006
      token: root@pam!homepage
      secret: {{HOMEPAGE_VAR_API_TOKEN}}

  docker.yaml: ""

  custom.css: ""

  custom.js: ""
