apiVersion: v1
kind: ConfigMap
metadata:
  name: declutarr-config
  namespace: media
data:
  settings.yaml: |
    general:
      log_level: DEBUG
      test_run: false
      timer: 600

    instances:
      sonarr:
        - base_url: "http://sonarr:8989"
          api_key: "9a264758fcd84b36a4321e43620049d4"
      radarr:
        - base_url: "http://radarr:7878"
          api_key: "15df11fd643a435b9b1f61593c10432f"

    download_clients:
      qbittorrent:
        - base_url: "http://transmission:9091"
