apiVersion: apps/v1
kind: Deployment
metadata:
  name: declutarr
  namespace: media
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: declutarr
  template:
    metadata:
      labels:
        app: declutarr
    spec:
      containers:
      - name: declutarr
        image: ghcr.io/manimatter/decluttarr:v2.0.0
        ports:
        - name: http
          containerPort: 11011
        env:
        - name: PORT
          value: "11011"
        - name: PUID
          value: "3000"
        - name: PGID
          value: "3000"
        - name: TZ
          value: "Europe/London"
        volumeMounts:
        - name: config
          mountPath: /config
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: declutarr-config
---
apiVersion: v1
kind: Service
metadata:
  name: declutarr
  namespace: media
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 11011
    targetPort: 11011
  selector:
    app: declutarr
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: declutarr-config
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: mayastor-3-replica
  volumeName: pvc-f8123b69-f095-4c83-a5f4-593f2a89d304
  resources:
    requests:
      storage: 1Gi
