apiVersion: apps/v1
kind: Deployment
metadata:
  name: declutarr
  namespace: media
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: declutarr
  template:
    metadata:
      labels:
        app: declutarr
    spec:
      containers:
      - name: declutarr
        image: ghcr.io/manimatter/decluttarr:v1.33.0
        env:
        - name: PUID
          value: "3000"
        - name: PGID
          value: "3000"
        - name: TZ
          value: "Europe/London"
        volumeMounts:
        - name: config
          mountPath: /config
        - name: settings
          mountPath: /config/settings.yaml
          subPath: settings.yaml
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: declutarr-config
      - name: settings
        configMap:
          name: declutarr-config
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: declutarr-config
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: mayastor-3-replica
  resources:
    requests:
      storage: 1Gi
