apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: matter-hub-secrets
  namespace: apps
spec:
  hostAPI: https://app.infisical.com/api
  authentication:
    universalAuth:
      credentialsRef:
        secretName: universal-auth-credentials
        secretNamespace: infisical-operator-system
      secretsScope:
        projectSlug: prod-homelab-y-nij
        envSlug: prod
        secretsPath: /apps/homeassistant
  managedSecretReference:
    secretName: matter-hub-secrets
    secretNamespace: apps
    secretType: Opaque
    creationPolicy: Owner
